.container{
  background-color: var(--bg-con);
  color: var(--color);
  margin: 40px;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  gap: 50px;
  grid-template-rows: auto auto;
}

.inputs{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 0;
  justify-content: center;
}

.inputs .input{
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--color);
  background-color: var(--bg);
  outline: none;
  border: 0px;
  min-width: 100px;
}

.inputs .enter{
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--color);
  background-color: var(--primary-3);
  outline: none;
  border: 0px;
  cursor: pointer;
}

.enter:hover{
  opacity: 0.9;
}

.inputs .disabled{
  opacity: 0.8;
  cursor: auto;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .container{
    padding: 20px;
  }
}

@media screen and (max-width: 345px) {
  .inputs{
    min-width: 50px
  }
  .inputs .input, .inputs .enter{
    padding: 5px;
    font-size: 10px;
  }
}

.weather {
  display: grid;
  grid-template-rows: auto auto;
  gap: 50px;
  justify-content: center;
}

.weather .big-box{
  height: max-content;
  width: max-content;
  padding: 20px;
  background-color: var(--bg);
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
}
.weather .big-box .icon-div{
  height: 150px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.icon-div i{
  color: #a3a3a3;
  opacity: 1;
}

.weather .big-box .info{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  font-weight: bolder;
  justify-content: center;
  column-gap: 10px;
}

.info p{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-content: center;
  background-color: var(--bg-con);
  border-radius: 10px;
  padding: 10px;
  margin-top: 0 !important;
}


.weather .small-boxes{
  height: max-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.weather .small-boxes .box{
  font-weight: bolder;
  height: 50px;
  background-color: var(--bg);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.blue{
  color: var(--primary-2)
}

@media screen and (max-width: 860px) {
  .weather .big-box .info{
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto !important;
  }
  .weather .small-boxes{
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto auto auto auto !important;
  }
}