<div class="d-inline-flex sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px;">
      <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#server-solid"/></svg>
        <span class="fs-4">Admin Panel</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link <% if(page === "home") { %>active<% }else{ %>text-white<%}%>" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#house-solid"/></svg>
            Home
          </a>
        </li>
        <li>
          <a href="database" class="nav-link <% if(page === "database") { %>active<% }else{ %>text-white<%}%>">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#database-solid"/></svg>
            Database
          </a>
        </li>
        <li>
          <a href="stats" class="nav-link <% if(page === "stats") { %>active<% }else{ %>text-white<%}%>">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chart-simple-solid"/></svg>
            Statatics
          </a>
        </li>
        <li>
          <a href="audits" class="nav-link <% if(page === "audit") { %>active<% }else{ %>text-white<%}%>">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#book-solid"/></svg>
            Audit Logs
          </a>
        </li>
        <li>
          <a href="server" class="nav-link <% if(page === "server") { %>active<% }else{ %>text-white<%}%>">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#microchip-solid"/></svg>
            Server
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none">
          <svg class="bi pe-none me-2 rounded-circle" width="32" height="32"><use xlink:href="#circle-user-solid"/></svg>
          <strong>Admin</strong>
        </a>
        <!-- <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul> -->
      </div>
    </div>
  
    <div class="b-divider b-vr" style="width: 5px;"></div>
  </div>