<div class="footer-clean">
    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col-4">
                    <h3>Tools</h3>
                    <ul class="text-white">
                        <li><a class="text-white" href="/quiz" >Quiz</a></li>
                        <li><a class="text-white" href="/calculator">Calculator</a></li>
                        <li><a href="/translator" class="text-white">Translator</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Pages</h3>
                    <ul>
                        <li><a href="/"  class="text-white">Home</a></li>
                        <li><a href="/contact"  class="text-white">Contact</a></li>
                        <li><a href="/news"  class="text-white">News</a></li>
                    </ul>
                </div>
                <div class="social item social" style="text-align: center !important;">
                    <a href="https://github.com/Techlore-remake"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:gsvdprogrammers@gmail.com"><i class="fa-regular fa-at"></i></a>
                    <a href="https://chat.whatsapp.com/GmFC6WAukk1JcFHSjyVymn"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://discord.gg/UU3DtPUTbd"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright Reserved TECHLORE © 2024</p>
    </footer>
</div>