<!-- <div class="footer-clean">
    <footer>
        <div class="container text-center d-flex justify-content-center">
            <div class="row justify-content-center">
                <div class="col-4  item">
                    <h3 class=>Services</h3>
                    <ul class="text-white">
                        <li><a  class="text-white" href="#" >Quiz</a></li>
                        <li><a  class="text-white" href="#">Calculator</a></li>
                        <li><a href="#"  class="text-white">Language Translator</a></li>
                    </ul>
                </div>
                <div class="col-4 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#"  class="text-white">Company</a></li>
                        <li><a href="#"  class="text-white">Team</a></li>
                        <li><a href="#"  class="text-white">Legacy</a></li>
                    </ul>
                </div>
                <div class="social item social m-text-centerr m-d-flex m-justify-content-center"><a href="#"><i class="fa-brands fa-facebook-f"></i></a><a href="#"><i class="fa-brands fa-x-twitter"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-discord"></i></a>
                    <p class="copyright">TECHLROE © 2024</p>
                </div>
            </div>
        </div>
    </footer>
</div> -->

<div class="footer-clean">
    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col-4">
                    <h3>Services</h3>
                    <ul class="text-white">
                        <li><a  class="text-white" href="#" >Quiz</a></li>
                        <li><a  class="text-white" href="#">Calculator</a></li>
                        <li><a href="#"  class="text-white">Language Translator</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#"  class="text-white">Company</a></li>
                        <li><a href="#"  class="text-white">Team</a></li>
                        <li><a href="#"  class="text-white">Legacy</a></li>
                    </ul>
                </div>
                <div class="social item social" style="text-align: center !important;">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i>
                    </a><a href="#"><i class="fa-brands fa-x-twitter"></i>
                    </a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright Reserved TECHLORE © 2024</p>
    </footer>
</div>