<div class="topnav" id="myTopnav">
<a class="navi_title" href="/">TECHLORE</a>
<span class="topnav_links">
<a href="/" <%if(page === "home"){%> class="active" <%}%>>
<i class="fa fa-home" aria-hidden="true"></i> Home
</a>
  
<a href="/contact"<%if(page === "contact"){%> class="active" <%}%>>
  <i class="fa-solid fa-address-book"></i> Contact
</a>
  
<a href="/news"<%if(page === "news"){%> class="active" <%}%>>
<i class="fa-solid fa-newspaper"></i> News
</a>

<a class="navbar-dropdown <%if(page === "translator" || page === "quiz" || page === "calculator" || page === "weather" || page === "todo"){%> active <%}%>">
  <i class="fa-solid fa-browser"></i> Softwares <i class="fa-solid fa-caret-down dicon"></i>
  <div class="navbar-dropdown-content">
    <span class="a <%if(page === "translator"){%>active<%}%>" onclick="location='/translator'"><i class="fa-duotone fa-language"></i> Translator</span>
    <span class="a <%if(page === "quiz"){%>active<%}%>" onclick="location='/quiz'"><i class="fa-solid fa-clipboard-question"></i> Quiz App</span>
    <span class="a <%if(page === "calculator"){%>active<%}%>" onclick="location='/calculator'"><i class="fa-solid fa-calculator-simple"></i> Calculator</span>
    <span class="a <%if(page === "todo"){%>active<%}%>" onclick="location='/todo'"><i class="fa-duotone fa-list-dropdown"></i> To-Do App</span>
  <span class="a <%if(page === "weather"){%>active<%}%>" onclick="location='/weather'"><i class="fa-duotone fa-clouds"></i> Weather App</span>
  </div>
</a> 
  
<% if(!user || user === "no") {%>
<% if(page !== "signup"){ %>
<a href="/login"<%if(page === "login"){%> class="active" <%}%>>
  <i class="fa-solid fa-right-to-bracket"></i> Login
</a>
<% }else{ %>
<a href="/signup"class="active" >
  <i class="fa-solid fa-address-card"></i> Signup
</a>
<% } %>
<%}else{%>
<%if(page==="profile"){%>
<a class="nav_img_a" href="/profile"><img src="imgs/profile.png" alt="PFP" class="nav_img active"></a>
<%}else{%>
<a class="nav_img_a" href="/profile"><img src="imgs/profile.png" alt="PFP" class="nav_img"></a>
<%}%>
<%}%>
</span>
  <a href="javascript:void(0);" class="icon" onclick="Navbar()">
    <i class="fa fa-bars"></i>
  </a>
</div>