<div class="topnav" id="myTopnav">
    <a class="navi_title">TECHLORE</a>
    <span class="topnav_links">
  <a href="/" <%if(page === "home"){%> class="active" <%}%>>Home</a>
  <a href="/contact"<%if(page === "contact"){%> class="active" <%}%>>Contact</a>
      <a href="/news"<%if(page === "news"){%> class="active" <%}%>>News</a>
      <a href="/quizzes"<%if(page === "quizzes"){%> class="active" <%}%>>Quizzes</a>
      <% if(!user) {%>
     <% if(page !== "signup"){ %>
    <a href="/login"<%if(page === "login"){%> class="active" <%}%>>Login</a>
      <% }else{ %>
        <a href="/signup"class="active" >Signup</a>
      <% } %>
        <%}else{%>
          <%if(page==="profile"){%>
            <a class="nav_img_active" href="/profile"><img src="imgs/profile.png" alt="PFP" class="nav_img active"></a>
            <%}else{%>
          <a class="nav_img_a" href="/profile"><img src="imgs/profile.png" alt="PFP" class="nav_img"></a>
              <%}%>
          <%}%>
    </span>
  <a href="javascript:void(0);" class="icon" onclick="Navbar()">
    <i class="fa fa-bars"></i>
  </a>
</div>