<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>404 | Techlore</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%- include('./partials/links2', {page: "404"}) %>
</head>
<body>
  <%- include('./partials/navbar', {page: "404", user: session.user}) %>
  <h1>404 page</h1>
    <%- include('./partials/footer') %>
</body>
</html>