<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "contact"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "contact", user: session.user}) %>
    <div class="container1">
        <h1 class="title">Our Team members</h1>
    <div class="card1">
    <h1>Senura Perera</h1>
        <h4>Front end Designer and developer</h4>
        <h5>CEO</h5>
        <a href="https://wa.me/+94769340047"><button><i class="fa-brands fa-whatsapp"></i></button></a>
        <a href="mailto:senura20140116@gmail.com"><button><i class="fa fa-envelope"></i></button></a>
    </div>
    <div class="card1">
    <h1>Vidul Batawala</h1>
        <h4>Backend Developer and Logic tester</h4>
          <h5>CTO</h5>
        <a href="https://wa.me/+94768049399"><button><i class="fa-brands fa-whatsapp"></i></button></a>
        <a href="mailto:vidul1114@gmail.com"><button><i class="fa fa-envelope"></i></button></a>
    </div>
    <div class="card1">
    <h1>Gaviru Ferando</h1>
        <h4>Front end Designer and developer</h4>
          <h5>Senior member</h5>
        <a href="https://wa.me/+94727013190"><button><i class="fa-brands fa-whatsapp"></i></button></a>
        <a href="mailto:imgavirufdo@gmail.com
"><button><i class="fa fa-envelope"></i></button></a>
    </div>
    <div class="card1">
    <h1>Dasith Perera</h1>
        <h4>Front end Designer and developer</h4>
          <h5>Senior member</h5>
        <a href="https://wa.me/+94779616668"><button><i class="fa-brands fa-whatsapp"></i></button></a>
        <a href="mailto:dasithperera789@gmail.com
""><button><i class="fa fa-envelope"></i></button></a>
    </div>
</div>
         
</body>
     <%- include('./partials/footer') %>
</html>