<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create Quiz | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "quiz"}) %>
</head>
<body>
    
<%- include('./partials/navbar', {page: "quiz", user: session.user}) %>
<div class="q-make-con">
  <h1>Create your Quiz</h1>
  <span id="questions-con">
  <div class="q-1-container">
    <textarea class="question" placeholder="Write your question here" required></textarea><br>
    <textarea class="answer" placeholder="Answer 1" required></textarea><br>
    <textarea class="answer" placeholder="Answer 2" required></textarea><br>
    <textarea class="answer" placeholder="Answer 3" required></textarea><br>
    <textarea class="answer" placeholder="Answer 4" required></textarea><br>
    <input type="number" min="1" max="4" class="c-answer"placeholder="Correct Answer" required><br><br>
  </div><br>
    </span>
  <button class="add-q" id="addq"><i class="fa-solid fa-square-plus"></i> Add Question</button>
  <button class="add-quiz">Submit your quiz</button><br>
  </div>
<%- include('./partials/footer') %>
  <script>
   //What are you doing    
    $('#addq').click(function() {
      $('#questions-con').append(`<div class="q-1-container">
    <textarea class="question" placeholder="Write your question here" required></textarea><br>
    <textarea class="answer" placeholder="Answer 1" required></textarea><br>
    <textarea class="answer" placeholder="Answer 2" required></textarea><br>
    <textarea class="answer" placeholder="Answer 3" required></textarea><br>
    <textarea class="answer" placeholder="Answer 4" required></textarea><br>
    <input type="number" min="1" max="4" class="c-answer"placeholder="Correct Answer" required><br>
    <button class="remove-q" onclick="deleteq(this)"><i class="fa-solid fa-trash"></i> Remove Question</button><br><br>
  </div><br>`)
    })
    function deleteq(element) {
      console.log('e')
      $(element).parent().remove()
    }
  </script>
</body>
</html>