<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> TECHLORE | HOME </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "home"}) %>
</head>
<body>
    

    <div class="topnav" id="myTopnav">
        <a class="navi_title">TECHLORE</a>
      <a href="/" class="active">Home</a>
      <a href="/about">About us</a>
      <a href="/contact">Contact</a>
      <a href="/signup">Sign in</a>
        <a href="/login">Login</a>
      <a href="javascript:void(0);" class="icon" onclick="Navbar()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="main">
    <h1 class="title">TECHLORE</h1>
        <h3> Welcome to TECHLORE | Project by <span>GSVD Programmers </span></h3>
    </div>
    <div class="about">
        <h1>About us</h1><br>
        <p>TECHLORE is a leading software designing designing company in Sri Lanka. Which is made by 4 Web developers in Sri Lanka.Now we introducing our site with three softwares.<br><br><span class="hero">1) Quiz app<br>2) Calculator<br> 3) Language translator.</span><br><br> Also we hope to add many softwares in the future. if you want some special softwares please use the contact form to contact techlore customers care.</p>
    </div>
    <div class="contact">
        <form class="contact_title">
            <h2>Let us Know</h2>
            <hr>
    </div>
    <input type="text" name="name" placeholder="Your Name" class="contact_input" required>
    <input type="text" name="email" placeholder="Your Email" class="contact_input" required>
    <input type="text" name="message" placeholder="Your Message" class="contact_input" required>
    <button type="submit">Submit</button>
            
        </form>
    </div>
    <div class="footer">
        
    </div>
</body>
    
</html>