<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Login | Techlore</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%- include('./partials/head', {page: "login"}) %>
</head>
<body>
  <%- include('./partials/navbar', {page: "login", user: "no"}) %>
<div class="login_form">
  <h1>Login Form</h1>
  <form id="login-form">
 <div class="imgcontainer">
  <img src="imgs/profile.png" alt="Avatar" class="avatar">
 </div>
    <div class="err-message" id="error">
      <p>Incorrect Password</p>
    </div>
  <label for="username"><b>Username*</b></label><br>
  <input type="text" placeholder="Enter Username" name="username" required><br>

  <label for="password"><b>Password*</b></label><br>
  <input type="password" placeholder="Enter Password" name="password" required><br>

  <button type="submit2" id="sbutton">Login</button><br>
<p style="color: var(--color);">Don't Have An Account? <a href="/signup" style="text-decoration: none; color: #3ca2e6; font-weight: bolder;">Sign-Up</a></p>
</form>
</div>
    <%- include('./partials/footer') %>
<script> 
  const errordiv = document.getElementById('error')

  const errMsg = (msg = "") => {
    if (msg == "pswIN") {
      errordiv.innerHTML = '<p>Password Incorrect</p>';
      errordiv.style.display = "block";
      $('#sbutton').css({
        "opacity": 1,
        "pointer-events": "auto"
      })
    } else if (msg == "UsrIN") {
        errordiv.innerHTML = '<p>Username Is Not Registered</p>';
      errordiv.style.display = "block";
      $('#sbutton').css({
        "opacity": 1,
        "pointer-events": "auto"
      })
  }else if(msg == "none"){
      errordiv.style.display = "none";
  }
    }
  
  const login = (data) => {
  axios.post('/api/login', {
  username: `${data.username}`,
    password: `${data.password}`
})
.then(function (res) {
  errMsg('none')
  window.location.href = "/profile"
})
.catch(function (error) {
  if(error.response.status == 401){
      if(error.response.data.message === 'password is incorrect'){
        errMsg("pswIN")
      } else if(error.response.data.message === 'user doesnt exist'){
        errMsg("UsrIN")
      }
  }
  })
 }
  document.querySelector("#login-form").addEventListener("submit", (e) => {
    e.preventDefault()
    const data = Object.fromEntries(new FormData(e.target).entries())
    $('#sbutton').css({
      "opacity": 0.65,
      "pointer-events": "none"
    })
    errordiv.style.display = "none";
    login(data)
  })
</script>
  </body>
  </html>