<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Techlore Site maintainance</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%- include('./partials/links2', {page: "404"}) %>
</head>
<body>
  <%- include('./partials/navbar', {page: "404", user: session.user}) %>
  <div class="con">
    <i class="fa-solid fa-screwdriver-wrench"></i>
    <h1>502</h1>
     <p>Site is under maintainence. Site will be back online soon.</p>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>