<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>News | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "news"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "news", user: session.user}) %>
         <div class="news_container">
            <h1 class="news_tittle">News</h1>
            <div class="news_card">
                <h2>News Title</h2>
                <img src="imgs/news.png" alt="News_img">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis illum voluptates, vitae, sequi nam dolores consectetur similique omnis deleniti reiciendis neque modi voluptatem porro eos ullam quasi provident iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis illum voluptates, vitae, sequi nam dolores consectetur similique omnis deleniti reiciendis neque modi voluptatem porro eos ullam quasi provident iste!</p>
                <p class="time"> <span>-</span> Published at <time>08:35</time> on <time>10/05/10</time> <span>-</span> </p>
            </div>
             </div>
        <%- include('./partials/footer') %>
</body>
</html>
            