<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "profile"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "profile", user: session.user}) %>
        <button><a href="/logout">Sign out</a></button>
</body>
</html>