<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quiz Score | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "quizscore"}) %>
</head>
<body>
<%- include('./partials/navbar', {page: "quiz", user: session.user}) %>
    <!--What Are You Doing @Vidul-->
        <div class="main">
<div class="score">
    <h1>Username</h1>
</div>
 <div class="ans">

</div>
        </div>
<%- include('./partials/footer') %>
</body>
</html>