<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quizzes | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "quizzes"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "quizzes", user: session.user}) %>
        <%- include('./partials/footer') %>
</body>
</html>