<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Language Translator | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "translator"}) %>
</head>
<body>
    
<%- include('./partials/navbar', {page: "translator", user: session.user}) %>
<div class="main">
<div class="s-t">
    <h1><div class="dropdown">
        <button class="dropbtn"><span id="frombtn">English</span></button>
          <div class="dropdown-content" id="from">
            <a id="si" lang="Sinhala">Sinhala</a>
            <a id="en" lang="English" class="active">English</a>
            <a id="ta" lang="Tamil">Tamil</a>
            <a id="hi" lang="Hindi">Hindi</a>
            <a id="fr" lang="French">French</a>
            <a id="es" lang="Spanish">Spanish</a>
            <a id="zh" lang="Chinese">Chinese</a>
            <a id="ja" lang="Japanese">Japanese</a>
          </div>
        </div> 
        <br class="br">
        <span id="i"><i class="fa-solid fa-right-left"></i></span>
        <br class="br">
        <div class="dropdown">
    <button class="dropbtn"><span id="tobtn">Sinhala</span></button>
      <div class="dropdown-content" id="to">
          <a id="si" lang="Sinhala" class="active">Sinhala</a>
          <a id="en" lang="English">English</a>
          <a id="ta" lang="Tamil">Tamil</a>
          <a id="hi" lang="Hindi">Hindi</a>
          <a id="fr" lang="French">French</a>
          <a id="es" lang="Spanish">Spanish</a>
          <a id="zh" lang="Chinese">Chinese</a>
          <a id="ja" lang="Japanese">Japanese</a>
      </div>
    </div><br></h1>
    </div><br>
            <div class="text">
                 <textarea name="text" placeholder="Text To Translate" id="text"></textarea>
            </div>
                <div class="translated-text">
                    <textarea name="translated-text" placeholder="Translated Text" id="trans-text" disabled></textarea>
                </div>
                <button id="tbutton">Translate</button>
</div>
                <%- include('./partials/footer') %>
<script>

    $('#i').click(function() {
        let from = '';
        let to = '';
        from = $('#from').find('.active').attr('id')
        to = $('#to').find('.active').attr('id')
        $('#from').find('.active').removeClass('active')
        $('#to').find('.active').removeClass('active')
        $('#from').find(`#${to}`).addClass('active')
        $('#to').find(`#${from}`).addClass('active')
        $('#frombtn').text(`${$('#from').find('.active').attr('lang')}`)
        $('#tobtn').text(`${$('#to').find('.active').attr('lang')}`)
        if($('#i i').hasClass('r360')){
            $('#i i').removeClass('r360')
        }else{
            $('#i i').addClass('r360')
        }
    })

$('#from > a').click(function() {
    if($('#to').find('.active').length !== 0){
        if($('#to').find('.active').attr('id') !== $(this).attr('id')){
            $('#from').find('.active').removeClass('active')
            $(this).addClass('active')
            $('#frombtn').text(`${$('#from').find('.active').attr('lang')}`)
        }
    }else{
        $('#from').find('.active').removeClass('active')
        $(this).addClass('active')
        $('#frombtn').text(`${$('#from').find('.active').attr('lang')}`)
    }
})
    
    $('#to > a').click(function() {
        if($('#from').find('.active').length !== 0){
            if($('#from').find('.active').attr('id') !== $(this).attr('id')){
                $('#to').find('.active').removeClass('active')
                $(this).addClass('active')
                $('#tobtn').text(`${$('#to').find('.active').attr('lang')}`)
            }
        }else{
            $('#to').find('.active').removeClass('active')
            $(this).addClass('active')
            $('#tobtn').text(`${$('#to').find('.active').attr('lang')}`)
        }
    })
    
$('#tbutton').click(function(){
if($('#text').val() !== ''){
    $('#tbutton').css({
        "pointer-events": "none",
        "opacity": 0.8,
        "cursor": "none"
    })
    axios.post('https://google-translate113.p.rapidapi.com/api/v1/translator/text', 
        {
        from: `${$('#from').find('.active').attr('id')}`,
        to: `${$('#to').find('.active').attr('id')}`,
        text: `${$('#text').val()}`
        },{
            headers: {
                'x-rapidapi-key': '47f40a006bmshed110c814d73106p1dbf8ajsn59a8b0d417b9',
                'x-rapidapi-host': 'google-translate113.p.rapidapi.com',
                'Content-Type': 'application/json'
            }
        })
        .then(function (res) {
            $('#trans-text').val(res.data.trans)
            $('#tbutton').css({
                "pointer-events": "auto",
                "opacity": 1,
                "cursor": "pointer"
            })
        })
        .catch(function (error) {
            $('#trans-text').val('An Error Occurred, Please Contact An Admin')
            $('#tbutton').css({
                "pointer-events": "auto",
                "opacity": 1,
                "cursor": "pointer"
            })
            console.log(error)
        })
}
})
</script>
</body>
</html>