*{
  text-align: center;
}

.con h1{
  color: var(--err-page-c1);
  text-shadow: 0 0 50px var(--err-page-c1);
  animation: err_glow 3s ease-in-out infinite alternate;
  font-size: 100px;
  margin-top: 10px;
}
.con p{
  color: var(--primary-2);
  font-size: 20px;
  font-weight: bolder;
}
.con a{
  text-decoration: none;
  color: var(--primary-5);
  font-weight: bolder;
}
.con i{
  font-weight: bolder;
  font-size: 60px;
  color: var(--err-page-c1);
  text-shadow: 0 0 50px var(--err-page-c1);
  animation: err_glow 3s ease-in-out infinite alternate;
  margin-top: 30px;
}
.con{
  background-color: var(--bg-con);
  padding: 40px;
  margin: 40px;
  border-radius: 20px;
}
@-webkit-keyframes err_glow {
  from {
    text-shadow: 0 0 50px var(--err-page-c1);
  }

  to {
    text-shadow: 0 0 50px var(--err-page-c2);
  }
}