.container1{
  text-align: center;
  padding:30px;
  padding-top:20px;
  color: var(--color);
  margin: 40px;
  border-radius: 20px;
   background: var(--bg-con);
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
}
.card1{
  padding-top: 15px;
  padding: 20px;
  paddin-left:30px;
  padding-right:30px;
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  text-align:center;
}
.card1 button{
  margin-top:30px;
  width: 60px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--primary-3);
  color: var(--color);
  font-weight: bolder;
  align-items:center;
  font-size: 30px;
  padding: 5px;
  gap:10px;
  border:none;
  cursor:pointer;
}

.card1 button:hover{
  opacity: 0.9;
}

.card1 h5{
  color: var(--primary-4);
  font-weight:bolder;
  animation: glow 3s ease-in-out infinite alternate;
}
.card1 h1{
  font-weight:bolder;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: var(--primary-1);
    text-shadow: 0 0 50px var(--primary-1);
  }
  to {
    color: var(--primary-2);
    text-shadow: 0 0 50px var(--primary-2);
  }
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
.card1{
  margin-bottom: 30px;
  margin-right:30%;
  margin-left:30%;
}
}

.title{
  text-align:center;
  color: var(--primary-1);
  font-weight:bolder;
  font-size:40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
.card1{
  margin-bottom:30px;
}
}
 @media screen and (min-width: 1000px) {
.container{
  margin-left: 25%;
  margin-right:25%;
}
}
@media screen and (max-width: 350px) {
.container1{
  margin:10px;
}
}