.news_tittle{
  text-align:center;
  color: #3c7de6;
  font-weight:bolder;
  font-size:40px;
  margin: 20px;
}
.news_container{
  background-color: #1a1d20;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 #15181a, 0 10px 30px 0 #15181a;
  padding-bottom: 5%;
  font-weight: bolder;
}
.news_card{
  border-radius: 20px;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  background-color: #27292b;
}
.news_card h2{
  color: #f5db67;
  text-shadow: 0 0 50px #f5db67;
}

.news_card img{
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}
.news_card p{
   text-align:justify;
  margin: 20px;
}

.news_card .time{
  color: #4d4c4b;
  text-align:center;
}

.news_card time{
  color: #6e6d6d;
  text-align:center;
}

.news_card span{
  color: #1c1c1c;
  text-align:center;
}

.news_card img{
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}

@media screen and (max-width: 500px){
  .news_card img{
    width: 200px;
  }

}

@media screen and (max-width: 450px){
  .news_card img{
    width: 130px;
  }
}