.news_tittle{
  text-align:center;
  color: var(--primary-1);
  font-weight:bolder;
  font-size:40px;
  margin: 20px;
}
.news_container{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  padding-bottom: 5%;
  font-weight: bolder;
}
.news_card{
  border-radius: 20px;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  background-color: var(--news-bg);
}
.news_card h2{
  color: var(--news-title);
  text-shadow: 0 0 50px var(--news-title);
}

.news_card img{
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}
.news_card p{
   text-align: center;
  margin: 20px;
}

.news_card .time{
  color: var(--news-time-2);
  text-align:center;
}

.news_card time{
  color: var(--news-time-1);
  text-align:center;
}

.news_card span{
  color: var(--news-time-3);
  text-align:center;
}

.news_card img{
  height: 150px;
  border-radius: 20px;
  margin: 10px;
}

@media screen and (max-width: 500px){
  .news_card img{
    width: 200px;
  }

}

@media screen and (max-width: 450px){
  .news_card img{
    width: 130px;
  }
}