.news_tittle{
  text-align:center;
  color:white;
}
.news_container{
  background-color: #1a1d20;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 #15181a, 0 10px 30px 0 #15181a;

  padding-bottom: 5%;
  font-weight: bolder;
}
.slideshow_container{
  max-width:600px;
  padding-left:10px;
}
.slideshow{
  width:600px;
  height:350px;
  margin-left:50px;
}
.dot{
  height:15px;
  width:15px;
  margin: 0 2px;
  background-color:gray;
  border-radius:50%;
  transition: background-color 0.7s ease;
}
.fade{
  animation-name:fade;
  animation-duration:2s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}