.container4{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  padding-top: 10%;
  padding-bottom: 10%;
  font-weight: bolder;
}

.container4 button{
  margin-top:30px;
  width:200px;
  margin: 10px;
  border-radius: 50px;
  background-color: var(--primary-3);
  color: var(--color);
  font-weight:bolder;
  align-items:center;
  padding: 15px 30px;
  gap:10px;
  border:none;
  cursor:pointer;
}

.container4 button:hover{
  opacity: 0.9;
}

.container4 i{
  color: var(--color);
  font-weight: bolder;
  font-size: 100px;
  margin-bottom: 40px;
  animation: glow 3s ease-in-out infinite alternate;
}

.w-name{
  animation: glow 3s ease-in-out infinite alternate;
  font-weight: bolder;
}

@-webkit-keyframes glow {
  from {
    color: var(--primary-1);
    text-shadow: 0 0 60px var(--primary-1);
  }
  to {
    color: var(--primary-2);
    text-shadow: 0 0 60px var(--primary-2);
  }
}

@media screen and (max-width: 350px) {
.container4{
  margin:10px;
}
}