.main{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  padding-bottom: 5%;
  font-weight: bolder;
}
.main textarea{
  max-width:50%;
   min-width:50%;
  height:140px;
  border:none;
  outline:none;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  min-height: 100px;
  color: var(--color);
  background-color: var(--bg);
  border-radius:10px;
  font-weight: bolder;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .main textarea{
    max-width:70%;
     min-width:70%;
    height:240px;
    padding-top:15px;
    min-height: 100px;
    padding:10px;
  }
  .lang-lang{
    background-color: #606162;
    color: var(--color);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 5%;
    margin-top: 5%;
    margin-bottom:20%;
    box-shadow: 0 10px 10px 0 #5a5c5e, 0 10px 30px 0 #27292a;
    font-weight: bolder;
  }
}
@media screen and (max-width: 340px) {
  .lang-lang{
    background-color: #606162;
    color: var(--color);
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin: 5%;
    margin-top: 5%;
    margin-bottom:20%;
    box-shadow: 0 10px 10px 0 #5a5c5e, 0 10px 30px 0 #27292a;
    font-weight: bolder;
  }
}
button{
  color: var(--color);
  background-color:#0f7ae6;
  border-radius: 20px;
  border: 0;
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(26, 28, 31, 0.8);
  min-width: min-content;
  border-radius: 10px;
  z-index: 1;
}

.navbar-dropdown-content .a {
  color: var(--color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-shadow: none;
  cursor: pointer;
}

.navbar-dropdown-content .a:hover {
  color: var(--primary-2);
  text-shadow: 0 0 20px var(--primary-2);
  font-weight: bolder;
}  

.navbar-dropdown-content .a.active {
  font-weight: bolder;
  color: var(--primary-5);
  text-shadow: 0 0 25px var(--primary-5);
}
.navbar-dropdown .active {
  font-weight: bolder;
  color: var(--primary-5);
  text-shadow: 0 0 25px var(--primary-5);
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: grid;
}

@media screen and (max-width: 1024px) {
  .navbar-dropdown-content {
    position: relative;
    background-color: transparent;
  }
  .navbar-dropdown-content .a {
    margin-top: 0px !important;
  }
}