.main{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  margin-top: 5%;
  margin-bottom:5%;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  padding-bottom: 5%;
  font-weight: bolder;
}
.main textarea{
  max-width: 600px;
  min-height: 150px;
  max-height: 350px;
  width: 100%;
  border:none;
  outline:none;
  margin-bottom: 20px;
  padding: 10px;
  padding-top:15px;
  color: var(--color);
  background-color: var(--bg);
  border-radius:10px;
  font-weight: bolder;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .main textarea{
    height: 200px;
  }
}
button{
  color: var(--color);
  background-color: var(--primary-3);
  border-radius: 20px;
  border: 0;
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-3);
  background-color:rgb(18, 18, 18, 0.5);
  width: 150px;
  z-index: 1;
  border-radius: 10px;
}
.dropbtn{
  margin-bottom:5px;
  width: 150px;
}
.dropbtn span{
  font-size: 20px;
  margin: 0 !important;
}
.dropdown-content a {
  color: var(--color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:15px;
  cursor: pointer;
}
.dropdown-content a:hover {
  color: var(--primary-2);
  text-shadow: 0 0 20px var(--primary-2);
  font-weight: bolder;
}
.dropdown-content .active{
  font-weight: bolder;
  color: var(--primary-5) !important;
  text-shadow: 0 0 25px var(--primary-5) !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.s-t i{
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.s-t i:hover{
  opacity: 0.8;
}
.s-t span {
  margin: 20px;
}
.s-t .br{
  display: none;
}

@media screen and (max-width: 562px) {
  .s-t .br{
    display: block !important;
  }
  .s-t i{
    transform: rotate(90deg);
  }
}