<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Weather App | Techlore</title>
    <%- include('../partials/head', {page: "weather"}) %>
  </head>
  <body>
<%- include('../partials/navbar', {page: "weather", user: session.user}) %>

    <div class="card">
        <h1>Weather App</h1><br><br>
        <div class="search">
            <input id="search-result" type="text" placeholder="Enter city name" spellcheck="false" name="city" required/>
            <button class="btn" id="search-btn">Search</button>
        </div>
        <div class="err">
            <p><b>Please Insert a valid city name</b></p>
        </div>
        <div class="weather">
            <img src="/imgs/weather/clear.jpg"class="weather-icon" /><br>
            <h1 id="temp" class="temp"></h1>
            <h2 class="city">Sample City</h2>
        <div class="details">
            <div class="wh">
                <img src="/imgs/weather/humi.png" alt="humidity"><br>
                <br><div class="card-details">
                    <p class="humidity">Sample Humidity</p>
                    <h4>Humidity</h4>
                </div>
            </div>
            <br><br>
            <div class="wh">
                <img src="/imgs/weather/ap.png"><br>
                <div class="card-details">
                    <p class="pressure">Sample Air_pressure</p>
                    <h4>Air-pressure</h4>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
<%- include('../partials/footer') %>
<script>
let apiKey = "f0fee14aabf92d0adb96846415cfa0da";
let apiUrl = "https://api.openweathermap.org/data/2.5/weather?units=metric&lang=en";
        
let cel; 
async function checkWeather(city) {
  try {
    const response = await fetch(`${apiUrl}&q=${city}&appid=${apiKey}`);

    if (!response.ok) {
      throw new Error("Try again.Error while fetching.");
    }

    const data = await response.json();
    $(".city").html(data.name)
    $(".temp").html(Math.round(data.main.temp) + "°C")
    $(".humidity").html(data.main.humidity + "%")
    $(".pressure").html(data.main.pressure)

    if (data.weather[0].main === "Clouds") {
      $('.weather-icon').attr("src", "/imgs/weather/cloud.png")
    } else if (data.weather[0].main === "Clear") {
      $('.weather-icon').attr("src", "/imgs/weather/clear.jpg")
    } else if (data.weather[0].main === "Rain") {
      $('.weather-icon').attr("src", "/imgs/weather/rain.png")
    } else if (data.weather[0].main === "Drizzle") {
      $('.weather-icon').attr("src", "/imgs/weather/dri.png")
    } else if (data.weather[0].main === "Mist") {
      $('.weather-icon').attr("src", "/imgs/weather/mist.png")
    }
    
    $(".weather").show()
    $(".err").hide()
    cel = Math.round(data.main.temp);
    
  } catch (error) {
    $(".err").show()
    $(".weather").hide()
    console.error(error);
  }
}
$('#search-btn').click(function() {
  const city = $('#search-result').val().trim()
  if (city !== "") {
    checkWeather(city);
  }
});
</script>
</body>
</html>