.container{
  text-align: center;
  padding:30px;
  padding-top:20px;*-px;
  color: white;
  position:relative;
  margin: 20px;
  border-radius: 20px;
   background: rgb(30, 31, 30, 0.7)
}
.card{
  padding-top: 15px;
  padding: 20px;
  paddin-left:30px;
  padding-right:30px;
  background-color: #3b3b3b;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(255, 255, 255, 0.2), 0 7px 30px 0 rgb(66, 129, 255, 0.19);
}

.card h5{
  color:#85c4ff;
  font-weight:bolder;
}
.card h1{
  color:#0057ad;
  font-weight:bolder;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #988686, 0 0 5px #bdb7b7, 0 0 5px #c9cdd4, 0 0 5px #b2b9c7, 0 0 5px #bdc2cc;
  }

  to {
    text-shadow: 0 0 5px #8a8585, 0 0 5px #766f6f, 0 0 5px #8a9193, 0 0 5px #778183;
  }
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
.card{
  margin-bottom: 30px;
  margin-right:30%;
  margin-left:30%;
}
}

.title{
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
.card{
  margin-bottom:30px;
}
}