
.login_form{
  background-color: grey;
  margin: 20px;
  border-radius:20px;
  text-align:center;
  padding: 20px;
}
.login_form button{
  width:200px;
  height:30px;
  margin-top:30px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-weight:bolder;
}
.login_form img{
  height:100px;
  width: 100px;
}
.login_form textarea{
 padding: 20px;
}
.login_form input{
  padding: 20px;
}