body{
  text-align:center;
}
.container{
  text-align:center;
}
.create{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  font-weight: bolder;
  text-align:center;

}

.join{
  background-color: var(--bg-con);
  color: var(--color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  box-shadow: 0 10px 10px 0 var(--bg-con-shadow), 0 10px 30px 0 var(--bg-con-shadow);
  font-weight: bolder;
  text-align:center;

}

@media screen and (max-width: 850px){
  .create{
    width: auto;
  }

  .join{
    width: auto;
  }

}

.container h1{
  color: var(--primary-1);
  text-shadow: 0 0 50px var(--primary-1);
}

.create img{
 width: 300px;
  border-radius: 20px;
  margin: 20px;
}

.container button{
  margin-top:30px;
  width: max-content;
  margin: 10px;
  border-radius: 50px;
  background-color: var(--primary-3);
  color: var(--color);
  font-weight:bolder;
  align-items:center;
  padding: 15px 30px;
  gap:10px;
  border:none;
  cursor:pointer;
}

.container button:hover{
  opacity: 0.9;
}

.join img{
 width: 300px;
  border-radius: 20px;
  margin: 20px;
}

@media screen and (max-width: 500px){
  .create img{
    width: 200px;
  }
  .join input{
    width: 200px;
  }
  .join img{
    width: 200px;
  }

}

@media screen and (max-width: 350px){
  .create img{
    width: 100px;
  }

  .join img{
    width: 100px;
  }

}

.join input{
  width: 50%;
  height:50px;
  border:none;
  outline:none;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left:25px;
  color: var(--color);
  background-color: var(--bg);
  border-radius:10px;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.error {
  background-color: rgba(252, 40, 40, 0.137254902);
  color: #ce4747;
  width:50%;
  padding: 5px;
  font-size: 17px !important;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}